#loader-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0!important;
    background: #ffffff;
    z-index: 1050;
}

@keyframes ldio-nd8tbelstfb {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  
  .ldio-nd8tbelstfb div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-nd8tbelstfb 1s cubic-bezier(0,0.2,0.8,1) infinite;
  }
  
  .ldio-nd8tbelstfb div:nth-child(1) {
    border-color: #5c5b70
  }
  
  .ldio-nd8tbelstfb div:nth-child(2) {
    border-color: #abe1c1;
    animation-delay: -0.5s;
  }
  
  .loadingio-spinner-ripple-wxag8keilej {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .loadingio-spinner-ripple-wxag8keilej {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ldio-nd8tbelstfb div { box-sizing: content-box; }
  /* generated by https://loading.io/ */