.content {
    background-color: #F5F5F5;
}

.cocktail-img {
    border-radius: 20px;
    box-shadow: 0 2px 18px 0 rgba(0,0,0,0.22);
}

.cocktail-info {
    background-color: #fcca4c;
    font-weight: bold;
}