/* Init */

html, body {
    font-family: 'Baloo Tamma 2', cursive;
}

/* Common */

.card-coktail, #coktailsContainer .card .card-img-top, #searchCoktailContainer .card .card-img-top, h2, .nav-item {
    transition-property: all;
    transition-duration: .4s;
}

h2 {
    border-left: 1rem solid #f8b600;
    padding-left: .3rem;
}

h2:hover {
    border-left: 3rem solid #f8b600;
}

/* Spec */

.btn-lazy {
    width: 100%;
    background-color: #f8b600;
}

.nav-item {
    border-bottom: 2px solid #fff;
}

.nav-item:hover {
    border-bottom: 2px solid #f8b600; 
}

.description {
    font-size: 0.8rem;
}

.card-body h6.recip, .card-body h6.ingredients {
    padding-bottom: .5rem;
    border-bottom: 1px solid grey;
}

#main .container-fluid {
    background: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#random .container-fluid {
    background: linear-gradient(180deg, rgba(147,147,147,.3) 0%, rgba(147,147,147,.31) 35%, rgba(147,147,147,.31) 100%), url(../img/random-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#search .container-fluid {
    background: linear-gradient(180deg, rgba(147,147,147,.3) 0%, rgba(147,147,147,.31) 35%, rgba(147,147,147,.31) 100%),url(../img/search-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#search > * {
    color: #fff;
}

.text-muted {
    color: #000!important;
}

#coktailsContainer .card, #coktailsContainer .card .coktail-img, #searchCoktailContainer .card, #searchCoktailContainer .card .coktail-img {
    overflow: hidden;
}

#coktailsContainer .card:hover .coktail-img, #searchCoktailContainer .card:hover .coktail-img{
    transform: scale(1.1);
}

.card-coktail {
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.card-coktail.open {
    background-color: rgb(255, 255, 255, .8);
    opacity: 1;
}

.card-coktail.open >  div{
    width: 30%;
    margin-top: 10rem;
}

@media (max-width: 768px){
    .card-coktail.open >  div{
        width: 80%;
        margin-top: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1064px){
    .card-coktail.open >  div{
        width: 60%;
        margin-top: 6rem;
    }    
}


/* Tools */

#msgPopin {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#msgPopin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    left: -110%;
}

#msgPopin.open {
    left: 2rem!important;
}

.bg-light {
    background-color: #fff!important;
}

#loading {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0!important;
    background: #fff;
    display: none;
    z-index: 1050;
}

#loading, #loading.open.close{
    opacity: 0;
    left: 0!important;
    display: none;
}

#loading.open{
    opacity: 1;
    left: 0!important;
    display: block;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}