#msgPopin {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#msgPopin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    left: -110%;
}

#msgPopin.open {
    left: 2rem!important;
}

.bg-light {
    background-color: #fff!important;
}

#loading {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0!important;
    background: rgba(255, 255, 255, .7);
    display: none;
    z-index: 1050;
}

#loading, #loading.open.close{
    opacity: 0;
    left: 0!important;
    display: none;
}

#loading.open{
    opacity: 1;
    left: 0!important;
    display: block;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}