.hrTitle {
    background-color: #fcca4c;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 10%;
    height: 30px;
    border-radius: 3px;
    margin-left: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-top: .25rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: .2rem solid #fcca4c;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}