@font-face {
  font-family: "Poppins";
  src: url("/static/font/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins bold";
  src: url("/static/font/Poppins-Black.ttf") format("ttf");
  font-display: swap;
}

html, body {
    font-family: 'Poppins', sans-serif!important;
}

a {
  color: #504d4d;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  & span:after{
    display:block;
    content: '';
    border-bottom: solid 2px #fcca4c;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  & span:hover {
    &:after {
        transform: scaleX(1); 
    }
  }
}

.bg-white-custom {
  background-color: #fff;
  padding: 1.5rem 0;
}

.bg-grey-custom {
  background-color: #F5F5F5;
  padding: 1.5rem 0;
}

h1 {
    font-family: 'Poppins bold', sans-serif!important;
    font-weight: 700;
    font-size:80px;
    line-height: 120%;
    letter-spacing: -2px;
    margin:0;
    padding:0;
}

h2 {
    font-size:40px;
    font-weight: 700;
}

h3 {
  text-align: center;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  padding: .5rem;
  background-color: #fcca4c;
  font-size:30px;
  font-weight: 700;
  @media(max-width: 768px){
    width: 90%;
  }
}


@media screen and (max-width: 768px) {
    h1 {
      font-size: 42px;
    }
      
    h2 {
      font-size: 28px;
    }
}